<template data-prefix="dom" data-name="dump">
	<ul class="template dumped">
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
	</ul>
	<div class="sub">
		<content id="sub_content"></content>
	</div>
</template>
<script src="convert.tag.js"></script>
