<link href="dom.dump.html" rel="import" />
<template data-prefix="pati" data-name="article">
	<h3>Article Title</h3>
	<dom-dump></dom-dump>
	<p>Hello World</p>
	<content></content>
</template>
<script src="convert.tag.js"></script>
